<!-- _includes/menu-header.html -->

<li class="nav-item">
  <a class="nav-link" href="{{ site.baseurl }}/">Home</a>
</li>
<li class="nav-item">
  <a class="nav-link" href="{{ site.baseurl }}/about/">About</a>
</li>
<li class="nav-item">
  <a class="nav-link" href="{{ site.baseurl }}/lab/">Lab</a>
</li>
<li class="nav-item">
  <a class="nav-link" href="{{ site.baseurl }}/coding/">Coding</a>
</li>
<li class="nav-item">
  <a class="nav-link" href="{{ site.baseurl }}/malware/">Malware</a>
</li>
<li class="nav-item">
  <a class="nav-link" href="{{ site.baseurl }}/archive/">Archive</a>
</li>
<li class="nav-item">
  <a class="nav-link" href="{{ site.baseurl }}/resume/">Resume</a>
</li>



